/******************************* styling for contact page *******************************/
@keyframes expand {
    0% {
        opacity:0;
        transform:scale(0);
        transform-origin: center;
    }
    100%{
        opacity:1;
        transform:scale(1);
        transform-origin: center;
    }
}

#contact {
    background-color:#f1f5f5;;
    // height:88vh;
    padding:5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    // display:grid;
    // grid-template-rows: 1fr 1fr 1fr 5fr;
    // grid-gap:1rem;
    h1 {
        // grid-row: 2/3;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size:2.5vw;
        color:#141c3a;
        // margin-top:1.8em;
        margin-bottom:1.8em;
        opacity:0;
        &.animated{
            animation: slideInLeft 0.75s ease both;
        }
    }
    .contactInfo {
        // grid-row: 3/4;
        // margin-bottom: 1.8em;
        display:flex;
        justify-content: space-evenly;
        align-items: flex-start;
        font-family: 'Quicksand', sans-serif;
        color:#141c3a;
        text-align: center;
        margin-bottom: 0.5em;
        h2 {
            font-size: 2.3vw;
            font-weight: bolder;
        }
        p {
            font-size:2vw;
        }
        opacity:0;
        &.animated{
            animation: slideInRight 0.75s ease both;
        }
    }
    .contactForm {
        margin: 0 auto;
        margin-top:-0.5em;
        // grid-row:4/5;
        // height:60%;
        width:50%;
        display:grid;
        grid-template-rows: 1fr 1fr 3fr 1fr;
        opacity:0;
        &.animated {
            animation: expand 0.75s ease forwards 0.2s;
        }
        fieldset {
            margin:0.5em;
            border:none;

            span {
                // display:none;
                font-size:1.5vw;
                color: #4a9ead;
                padding:1vw 1.5vw;
                font-family: 'Noto Sans', sans-serif;
            }
            input,textarea {
                font-family: Arial, Helvetica, sans-serif;
                background-color:#ECECEC;
                // margin:0.5em 0;
                width:100%;
                height:85%;
                border-radius: 0.2rem;
                font-size:2vw;
                padding:0.5vw 1vw;
                border:none;
                background-color:#ECECEC;
                &:focus {
                    outline:none;
                }
            }
            &.submitBtn{
                input{
                    background-color: #4a9ead;
                    color: white;
                    height:60%;
                    // height: 5vh;
                    border-radius: 0.5rem;
                    line-height: 0.2;
                    padding: 0.5em;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 2vw;
                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        color: #4a9ead;
                        border:2px solid #4a9ead;
                        // border: red;
                    }
                    &:focus {
                        outline:none;
                    }
                }
            }
        }
        #success {
            text-align: center;
            font-size:2vw;
            color: red;
            font-family: 'Noto Sans', sans-serif;
        }

    }
}

/* for the tablet view */
@media screen and (max-width:800px) {
    #contact {
        h1 {
            font-size:2em
        }
        .contactInfo {
            h2 {
                font-size: 1.2em;
                font-weight: bolder;
            }
            p {
                font-size:1.2em;
            }
        }
        .contactForm {
            width:60%;
            fieldset {
                span {
                    font-size:1em;
                    padding:1vw 1.5vw;
                    font-family: 'Noto Sans', sans-serif;

                }
                #success {
                    font-size:1.2em;
                }
                input,textarea {
                    font-size:1.2em;
                }
                &.submitBtn{
                    input{
                        font-size: 1.2em;
                    }
                }
            }
        }

    }
}

/* for the mobile view */
@media screen and (max-width:414px) {
    #contact {
        padding:0;
        h1 {
            margin: 1.8em;
            font-size:1.5em
        }
        .contactInfo {
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            h2 {
                font-size: 1.2em;
                font-weight: bolder;
            }
            p {
                font-size:1.2em;
                margin-bottom:1em;
            }
        }
        .contactForm {
            width:80%;
        }
    }
}
