/******************************* styling for contact page *******************************/
@keyframes expand {
    0% {
        opacity:0;
        transform:scale(0);
        transform-origin: center;
    }
    100%{
        opacity:1;
        transform:scale(1);
        transform-origin: center;
    }
}

#contact {
    background-color:#f5f5f5;;
    // height:88vh;
    padding-top:0.1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    // display:grid;
    // grid-template-rows: 1fr 1fr 1fr 5fr;
    // grid-gap:1rem;
    h1 {
        // grid-row: 2/3;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size:2.5vw;
        color:#141c3a;
        margin:1.8em;
        opacity:0;
        &.animated{
            animation: slideInLeft 0.75s ease both;
        }
    }
    .contactInfo {
        // grid-row: 3/4;
        // margin-bottom: 1.8em;
        display:flex;
        justify-content: space-evenly;
        align-items: flex-start;
        font-family: 'Quicksand', sans-serif;
        color:#141c3a;
        text-align: center;
        margin-bottom: 0.5em;
        h2 {
            font-size: 2.3vw;
            font-weight: bolder;
        }
        p {
            font-size:2vw;
        }
        opacity:0;
        &.animated{
            animation: slideInRight 0.75s ease both;
        }
    }
    .contactForm {
        margin: 1.3em auto;
        // grid-row:4/5;
        // height:60%;
        width:40%;
        display:grid;
        grid-template-rows: 2fr 4fr 1fr;
        opacity:0;
        &.animated {
            animation: expand 0.75s ease forwards 0.2s;
        }
        // grid-gap:1em;
        .emailSender {
            display:grid;
            grid-template-rows: 1fr 1fr;
            input {
                margin:0.5em 0;
                width:100%;
                border-radius: 0.2rem;
                font-size:1.5vw;
                padding:0.5vw 1vw;
                border:none;
                background:#ECECEC;
            }
        }
        .emailMessage {
            margin:0.5em auto;
            display:flex;
            justify-content: center;
            width:100%;
            textarea {
                padding:0.5vw 1vw;
                width:100%;
                border-radius: 0.2rem;
                font-size:1.5vw;
                // padding-left:1vw;
                border:none;
                background:#ECECEC;
            }

        }
        .submitBtn{
            input{
                background-color: #4a9ead;
                color: white;
                // height: 5vh;
                border-radius: 0.5rem;
                line-height: 0.2;
                padding: 0.5em;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top:0.5em;
                font-size: 2vw;
                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: #4a9ead;
                    border:2px solid #4a9ead;
                    // border: red;
                }
            }
        }
        
        // grid-gap:0.3vw;
    }
}

/* for the tablet view */
@media screen and (max-width:800px) {
    #contact {
        // background-color: transparent;
        // height:88vh;
        // display:grid;
        h1 {
            font-size:2em
        }
        .contactInfo {
            h2 {
                font-size: 1.2em;
                font-weight: bolder;
            }
            p {
                font-size:1.2em;
            }
        }
        .contactForm {
            width:60%;
            // grid-row:4/5;
            .emailSender {

                input {
                    font-size:1.2em;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .emailMessage {
                textarea {
                    font-size:1.2em;
                    &:focus{
                        outline: none;
                    }
                }

    
            }
            .submitBtn{
                input{
                    font-size: 1.2em;
                    &:focus{
                        outline: none;
                    }
                }
            }
            
            // grid-gap:0.3vw;
        }
    }
}

/* for the mobile view */
@media screen and (max-width:414px) {
    #contact {
        h1 {
            font-size:1.5em
        }
        .contactInfo {
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            h2 {
                font-size: 1.2em;
                font-weight: bolder;
            }
            p {
                font-size:1.2em;
                margin-bottom:1em;
            }
        }
        .contactForm {
            width:80%;
            .emailSender {
                input {
                    font-size:1.2em;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .emailMessage {
                textarea {
                    font-size:1.2em;
                    &:focus{
                        outline: none;
                    }
                }

    
            }
            .submitBtn{
                input{
                    margin-top:1em;
                    font-size: 1.2em;
                    &:focus{
                        outline: none;
                    }
                }
            }
            
            // grid-gap:0.3vw;
        }
    }
}
