body {
    background: #fff;
    overflow: scroll;
    color: #525d68;
    // font-size: 15px;
    // line-height: 22px;
    background-attachment: fixed;

}

@keyframes dropDown {
    0% {
        opacity:0;
        height:0;
    }
    100%{
        opacity:1;
        height:1;
    }
}

header {
    display:none;
    height:12vh;
    width:100%;
    display:flex;
    align-items: center;
    position: absolute;
    // margin-top:-12vh;

    &.dropDown {
        display:block;
        position:fixed;
        margin-top: 0vh;
        z-index: 10002;
        background-color: rgba(255,255,255,0.9);
        animation: dropDown .9s ease-out;
    }
    input {
        display:none;
    }
    .hamburger {
        display:none;
    }
    
    .headerUl {
        opacity:0;
        display:grid;
        grid-template-columns: 2fr 6fr 2fr 2fr 1fr 2fr 1fr 2fr 1fr 4fr 2fr;
        height:100%;
        width:100%;
        &.dropDown{
            opacity:1;
        }
        li {
            list-style: none;
            // position: relative;
            a{
                text-decoration: none;
                font-weight:bolder;
                font-family: 'Quicksand', sans-serif;
                color:#141c3a;
                font-size:2vw;
                display:flex;
                justify-content: center;
                align-items: center;
                height:100%;
                transition:color 500ms ease-in-out;
                position: relative;
                &.active{
                    cursor: pointer;
                    color:#4a9ead;
                    transition:color 500ms ease-in-out;
                    &::after{
                        transform-origin: left;
                        transform:scale(1,1);
                        transition:all 500ms ease-in-out;
                    }
                }
                &::after {
                    content:"";
                    width:80%;
                    height:4px;
                    background-color: #4a9ead;
                    display:block;
                    margin-top:1em;
                    border-radius: 2rem;
                    position: absolute;
                    transform-origin: left;
                    transform:scale(0,1);
                    transition:all 500ms ease-in-out;
                }
            }
            &#logoimg{
                grid-column: 2/3;
                a {
                    &::after{
                        content:none;
                    }
                    &.active{
                        &::after{
                            content:none
                        }
                    }
                    img{
                        width:25%;
                    }
                }
            }
            &#profileMenu {
                grid-column: 4/5;
            }
            &#projectMenu {
                grid-column: 6/7;
            }
            &#contactMenu {
                grid-column: 8/9;
            }
            &#CVmenu {
                grid-column: 10/11;
                padding:1.2rem 0.5rem;
                // border-radius:1.5rem;
                a {
                    background-color:#262727;
                    color:white;
                    border-radius:0.2vw;
                }
            }
        }
    }

}




/* for the tablet view */
@media screen and (max-width:800px) {
    header {
        .headerUl{
            opacity:0;
            display:grid;
            grid-template-columns: 1fr 4fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 6fr 1fr;
            height:100%;
            width:100%;
            li {
                opacity:1;
                a{
                    font-size:1.5em;
                }
                &#logoimg{
                    grid-column: 2/3;
                    a{
                        img{
                            width:60%;
                        }
                    }
                    
                }
            }
        }
    }
}

/* for the mobile view */
@media screen and (max-width:414px) {
    header {
        height:12vh;
        &.dropDown{
            display:grid;
            align-content: center;
            // background-color: #616161;
            // input {
            //     display:block;
            // }
            .hamburger {
                display:block;
                font-size: 2.5em;
                display:flex;
                align-items: center;
                color:#141c3a;
                // color:white;
                // position: absolute;
                top:0;
                padding:0;
                padding:0 1em;
            }
        }
        
        

        .headerUl.dropDown {
            display:block;
            opacity: 0;
            height: 0;
            transition: all 500ms ease-in-out; 
            overflow:hidden;
            li {
                opacity: 1;
                transition: all 350ms  ease-in-out 250ms; 
                margin:0;
                background-color: rgba(255,255,255,0.9);
                padding:0.5em 2.5em;
                display:flex;
                justify-content: flex-start;
                &#CVmenu {
                    padding: 0.5em 2.5em;
                }
                a{
                    &::after {
                        content:"";
                        width:100%;
                        display:none;
                    }
                }
                &#logoimg{
                    display:none;
                }
            }
        }

        // .headerUl.slideUp {
        //     display:block;
        //     opacity: 0;
        //     height: 0;

        //     transition: all 500ms ease-in-out;  
        // }

        #toggle:checked ~ .headerUl.dropDown {
            position:absolute;
            display:block;
            opacity:1;
            height:auto;
            transform-origin: top;
            transition: all 500ms ease-in-out;  
            top:12vh;
            // margin-top:1em;
            li {
                opacity: 1;
                transition: all 350ms  ease-in-out 250ms; 
                margin:0;
                background-color: rgba(255,255,255,0.9);
                padding:0.5em 2.5em;
                display:flex;
                justify-content: flex-start;
                a{
                    &::after {
                        content:"";
                        width:100%;
                        display:none;
                    }
                }
                &#logoimg{
                    display:none;
                }
            }
            
        }
    }
    
}










