@keyframes proDropDown {
    0% {
        opacity:0;
        transform:scale(0);
        transform-origin: top;
    }
    100%{
        opacity:1;
        transform:scale(1);
        transform-origin: top;
    }
}


.wrapper {
    display:none;
    width:100vw;
    height:100vh;
    .proReview {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top:0;
        width:100vw;
        height:100vh;
        display: flex;
        justify-content: center;
        z-index: 10002;
        align-items: center;
        .proReviewContent {
            // height:90vh;
            // display:none;
            // transform-origin: top;
            // transform:scale(1,0);
            // transition:all 500ms ease-in-out 500ms;
            width:700px;
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);

            &.active {
                animation: proDropDown 0.5s ease-in-out;
            }
            overflow: hidden;
            border-radius: 0.5rem;
            display:grid;
            // grid-template-rows: 3fr 2fr;
            .imgReview {
                // grid-row: 1/2;
                overflow: hidden;
                // max-height: 50vh;
                img {
                    width:100%;
                }
            }
            .textReview {
                // grid-row: 2/3;
                background-color: white;
                padding:2em;
                font-family:'Source Sans Pro', sans-serif;            
                h1#title {
                    font-family: 'Lato', sans-serif;
                    margin-bottom: 0.5em;
                    font-size:2em;
                }
                p {
                    margin-bottom: 1em;
                    line-height:1.5;
    
                }
                button.viewSite {
                    display:inline-block;
                    grid-row: 4/5;
                    margin: 0 auto;
                    font-size: 1.2em;
                    padding: 0.5rem 1rem;
                    border-width: 2px;
                    background-color: transparent;
                    border-color: #4a9ead;
                    border-radius: 0.5rem;
                    a {
                        color: #4a9ead;
                        text-decoration: none;
                        &:active, &:focus {
                            outline:none;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        color: white;
                        background-color: #4a9ead;
                        a {
                            color:white;
                        }
                    }
                }
                button.exitBtn{
                    background-color: transparent;
                    border:none;
                    float: right;
                    font-size:2em;
                    color:#C3C3C3;
                    &:hover{
                        cursor: pointer;
                    }
                    &:focus {
                        outline:none;
                    }
                }
            }
        }
        
        // display:none;
    }
}

@keyframes slideShow {
    0% {
        opacity:0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100%{
        opacity:1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.eaterySlide {
    display:block;
}

// styling for slider 
.carousel-item {
    display:none;
    &.active {
        display:block;
        animation: slideShow 500ms ease-in-out;
    }
} 

.carousel-control-prev, .carousel-control-next {
    display:block;
    background-color:rgba(89,89,89,0.2);
    width:4em;
    height:4em;
    color:white;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.carousel-control-prev {
    position: absolute;
    margin-top: -4.2em;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next {
    position: relative;
    margin-top: -4.2em;
    float: right;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

// for mobile view

@media screen and (max-width:414px) {
    .wrapper {
        .proReview{
            .proReviewContent {
                width:90vw;
                .carousel {
                    width:100%;
                    &.eaterySlide {
                        .carousel-inner {
                            width:100%;
                            .active.slider1 {
                                display:block;
                                img {
                                    width:100%;
                                }
                            }
                        }
                    }
                    .carousel-inner {
                        width:100%;
                        .carousel-item{
                            img {
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


